
body {
  font-family: Arial, sans-serif;
  background:  #c4d0e2;
  margin: 0;
}

.wrapper {
  max-width: 850px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.full {
    grid-column: 1 / 3;
}

input,
select {
  border-radius: 3px;
  border-width: 1px;
  padding: 0.6rem;
  font: inherit;
}

button {
  background: #c4d0e2;
  transition: background 0.5s ease;
  margin-top: 10px;
  padding: 0.6rem;
  font: inherit;
}

button:hover {
  background: #d1dcec;
}

#iNumContainer[hidden], #codeContainer[hidden] {
  display: none;
}

#output {
  margin-top: 1rem;
  font-weight: bold;
}
          