@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 80px;
}

#content {
    max-width: 500px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 4em;
    margin: 0;
}

header img {
    width: 100px;
    height: 100px;
}

h1,
h2 {
    font-family: "Amatic SC", sans-serif;
}

#search {
    display: flex;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
}

#search-text {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 1rem;
}

#search button {
    background: white;
    border: none;
    border-left: 1px solid lightgray;
    cursor: pointer;
    padding: 0 10px;
}

#search img {
    width: 24px;
}

hr {
    margin-bottom: 20px;
}

.recipe-card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
}

.recipe-card img {
    width: 100%;
    display: block;
}

.recipe-tags button {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
}

.recipe-tags p {
    margin: 0;
}

.recipe-card h2 {
    color: #1d9bf0;
    font-size: 2.5rem;
    margin: 15px 0 5px;
}

.description {
    display: none;
}

.rating {
    font-size: 1.2rem;
}

footer {
    margin-top: 40px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social img {
    width: 40px;
}

footer a {
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    #content {
        max-width: 900px;
    }

    .recipe-card {
        display: flex;
        gap: 20px;
    }

    .recipe-card img {
        width: 45%;
    }

    .recipe-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .description {
        display: flex;
    }
    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        margin-bottom: 0;
    }
}