body {
    display: flex;
    justify-content: center;
    font-family: sans;
}

select {
    height: 20px;
}

#content {
    width: 475px;
    border: 1px solid black;
    padding: 40px;
    margin: 80px;
}

header {
    text-align: center;  
    letter-spacing: 2px; 
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    color: rgb(5, 69, 187);
    font-size: 11px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

hr {
    margin-top: 0;
}

main {
    line-height: 1.3em;
}

li {
    padding: 10px 0;
}
img {
    width: 120px;
    margin-top: 20px;
}

#logo {
    text-align: center;
    width: 100px;
    margin: 0 auto;
} 

.dark {
    background-color: black;
    color: white;

}