* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin: 0;
    padding: 0 10px;
    line-height: 1.4;
}
header {
    text-align: center;
    margin-bottom: 30px;
}
header h1 {
    margin: 20px 0 15px;
    color: #4b3347;
    font-size: 2rem;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    gap: 30px;
    padding: 0 40px 0 0;
    margin: 15px;
}
nav a {
    text-decoration: none;
    color: #b22222;
    font-weight: bold;
}
nav a:hover,
nav a:focus {
    text-decoration: underline;
}
hr {
    background-color: peachpuff;
    height: 2px;
    border: none;
    margin: 0;
}
.blog-layout {
    display: grid;
    justify-content: center;
}
.book-review {
    display: grid;
    gap: 10px;

    max-width: 900px;
    margin: 30px auto;

    padding: 25px 0;

    border-top: 2px solid peachpuff;
    border-bottom: 2px solid peachpuff;
}
.book-review p {
    margin: 0;
}

.date,
.age,
.genre,
.rating {
    text-align: right;
}

.book-review h2 {
    color: #b22222;
    margin-top: 20px;
}

.book-review img {
    width: 180px;
    max-width: 100%;
}


@media (min-width: 700px) {

    .book-review {
        grid-template-columns: 180px 1fr;
        column-gap: 40px;
        position: relative;
        border-top: none;
    }
    .date,
    .age,
    .genre,
    .rating {
        grid-column: 1;
        justify-self: end;
    }
    .book-review h2,
    .book-review img,
    .description {
        grid-column: 2;
    }
    .book-review h2 {
        grid-row: 1/3;
        margin: 0;
    }
    .book-review img {
        grid-row: 2/6;
        margin: 20px 0;
    }
    .book-review::before {
        content: "";
        position: absolute;

        left: 200px;
        top: 5px;
        bottom: 5px;

        width: 1px;
        background-color: peachpuff;
    }
}